body{

}

.cvbox{
	width: 900px;
	height: 1000px;
	margin: 100px auto;
	background: var(--white);
	box-shadow: 5px 21px 20px 20px #3d3f4238;
}
.leftside{
	background: var(--black);
	width: 250px;
	height: 1000px;
	float: left;
}
.profile{
	overflow: hidden;
	position: relative;
}
.profile-img{
	    position: absolute;
    z-index: 9;
    width: 120px;
    height: 120px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 50%;
    border: 3px solid var(--gray);
}
.blue-box{
    width: 257px;
    height: 407px;
    background: var(--blue);
    margin-left: -100px;
    transform: rotateZ(48deg);
    margin-top: -178px;
    
}
.name{
    color: var(--gray);
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}

.title{
    color: var(--gray);
 	text-align: center;
    text-transform: uppercase;
}
.info{
    text-align: center;
    color: var(--gray);
}

.p1{
	color: var(--gray);
	font-size: 15px;
	text-align: center;
}

.headers{
	color:#135574;
	
}
.header2{
	font-size:90%;
}
.institute{
	color:#4E8FA4;

}

text-decoration:underline;




.fa {
	padding: 5px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
	opacity: 0.7;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}


p{
	color:navy;
	font-family:Helvetica;

}
h1{
	color:navy;
	font-family:georgia;
}

h2{
	color:#0F3344;
	font-family:georgia;
}

h3{
	color:#135574;
	font-family:georgia;
}

h4{
	color:#135574;
	font-family:georgia;
}


li{
	color:#3D4B50;
}


.jump:hover{
	font-size:200%;
}


.profile{
	 text-align:center;
}



Fonts
:#3D4B50